html,body {
	width: 100%;
	background-color: #000000;
	margin: 0;
	padding: 0;
}

#CanvasGroup {
	width: 352px;
	height: 352px;
}

#Tip {
  position: fixed;
  color: #FFFFFF;
  bottom: 0;
  left: 5;
  z-index: 999;
}

#Map {
  background-color: #222222;
  position: absolute;
  top: 0;
  left: 0;
}

#EditorGroup {
  width: 352px;
  height: 120px;
  background-color: #222222;
}